
    .mainElement{
       
        background: linear-gradient(45deg, 
        rgb(255, 255, 255), 
        #e7f4ff);
        box-shadow: 24px -24px 60px 2px #dcefff,
        -24px 24px 60px 2px #0000001A;

        position: relative;
        width: 370px;
        height: 370px;
        margin: auto auto;
        margin-top: 100px;
        display: flex;
        overflow: hidden;
        border-radius: 24px;

    }




