<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/standard.css">
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(255, 255, 255);
            display: flex;
        }
    </style>
</head>

<body>
    <a href="/index.html">
        <div> </div> Back
    </a>
    <div class="mainElement" id="mainElement">

    </div>

    <div class="codePane">
        <div class="html">HTML</div>
        <div class="scss">SCSS</div>
        <pre class="code" id="codeHtml"> </pre>
        <pre class="code" id="codeCss"> </pre>
    </div>


    </div>
    <script src="/scripts/codeAppender.js"></script>
</body>

</html>