<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./glass.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="backer">
        <div class="back_circle"></div>
        <div class="back_circle" style="top: 80%; left: 10%; background-color: rgb(76, 0, 255);"  ></div>
        <div class="glass_main">
            <div class="text">Glass card</div>
        </div>
    </div>
    
</body>
</html>